<section class="block block cause">
    <div class="container">
        <div class="cause-description">
            <h2 class="title cause-title">
                Что вызывает эректильную дисфункцию?
            </h2>
            <h4 class="cause-subtitle">
                На&nbsp;качество потенции влияют множество факторов:
            </h4>
        </div>
        <div class="cause-wrap">
            <div class="cause-item">
                <div class="cause-item__img">
                    <img src="img/cloud.png" alt="cloud">
                </div>
                <p class="cause-item__text">
                    Стресс и нервное напряжение
                </p>
            </div>
            <div class="cause-item">
                <div class="cause-item__img">
                    <img src="img/cigarette.png" alt="cigarette">
                </div>
                <p class="cause-item__text">
                    Неправильный образ жизни
                </p>
            </div>
            <div class="cause-item">
                <div class="cause-item__img">
                    <img src="img/worker.png" alt="worker">
                </div>
                <p class="cause-item__text">
                    Частое физическое и моральное переутомление
                </p>
            </div>
            <div class="cause-item">
                <div class="cause-item__img">
                    <img src="img/psychology.png" alt="psychology">
                </div>
                <p class="cause-item__text">
                    Психологические факторы
                </p>
            </div>
        </div>
        <p class="cause-conclusion">
            Даже при&nbsp;наличии всего одного пункта мужчине сложно добиться необходимой для&nbsp;полового акта эрекции.
            Именно поэтому проблемы с&nbsp;эрекцией знакомы каждому мужчине.
        </p>
    </div>
</section>