<section class="statistic block">
    <div class="container">
        <h2 class="statistic__title title">
            77% средств против эректильной дисфункции не приносят результата
        </h2>
        <p class="statistic__subtitle">в то время, как Virex показал
            свою эффективность и отсутствие привыкания
        </p>
        <div class="statistic__main-container">
            <!--1-->
            <div class="statistic__main-item">
                <h5 class="statistic__main-item-title">Эффективность</h5>
                <div class="statictic__diagram-box">
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">100</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">80</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">60</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">40</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">20</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value -zero">0</p>
                        <span class="statistic__line"></span>
                    </div>
                </div>
                <div class="statistic__methods">
                    <div class="statistic__method-name -virex">
                        <div class="statistic__method-value -prod"></div><!--absolute-->
                        <p>Virex</p>
                    </div>
                    <div class="statistic__method-name">
                        <div class="statistic__method-value -online"></div><!--absolute-->
                        <p>Онлайн микстуры</p>
                    </div>
                    <div class="statistic__method-name">
                        <div class="statistic__method-value -another"></div><!--absolute-->
                        <p>Аптечные средства</p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="statistic__main-item">
                <h5 class="statistic__main-item-title">Побочные эффекты</h5>
                <div class="statictic__diagram-box">
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">100</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">80</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">60</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">40</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value">20</p>
                        <span class="statistic__line"></span>
                    </div>
                    <div class="statistic__diagram-scale">
                        <p class="statistic__value -zero">0</p>
                        <span class="statistic__line"></span>
                    </div>
                </div>
                <div class="statistic__methods">
                    <div class="statistic__method-name -virex">
                        <div class="statistic__method-value -prod -prod-effect"></div><!--absolute-->
                        <p>Virex</p>
                    </div>
                    <div class="statistic__method-name">
                        <div class="statistic__method-value -online -online-effect"></div><!--absolute-->
                        <p>Онлайн микстуры</p>
                    </div>
                    <div class="statistic__method-name">
                        <div class="statistic__method-value -another -another-effect"></div><!--absolute-->
                        <p>Аптечные средства</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>