<section class="myths block" id="myths">
    <div class="container">
        <h2 class="myths__title">Факты&nbsp;и&nbsp;мифы
            об&nbsp;эректильной дисфункции
        </h2>
        <div class="myths__items">
            <!--1-->
            <div class="myths__item-box">
                <h6 class="myths__item-question">
                    Как понять, что у меня эректильная дисфункция?
                </h6>
                <span class="myths__button-show"></span>
                <p class="myths__answer">
                    Эректильная дисфункция – это физическая неспособность к половому акту. По статистике,
                    каждый мужчина сталкивается с плохой потенцией. Если мужчина не способен осуществить
                    половой акт в 30% случаев, это считается клиническим случаем эректильной дисфункции.
                </p>
            </div>
            <!--2-->
            <div class="myths__item-box">
                <h6 class="myths__item-question">
                    Эректильная дисфункция наблюдается только у мужчин старшего возраста?
                </h6>
                <span class="myths__button-show"></span>
                <p class="myths__answer">
                    Проблемы с эрекцией не зависят от возраста, встречаются как у мужчин после 40, так и в 25-27 лет.
                </p>
            </div>
            <!--3-->
            <div class="myths__item-box">
                <h6 class="myths__item-question">
                    Нужны ли мне медикаменты для лечения импотенции?
                </h6>
                <span class="myths__button-show"></span>
                <p class="myths__answer">
                    Не обязательно, ведь часто медикаменты имеют много побочных эффектов. В тоже время,
                    растительные капсулы Virex действуют на организм бережно и при этом эффективны.
                </p>
            </div>
            <!--4-->
            <div class="myths__item-box">
                <h6 class="myths__item-question">
                    Какая разница между Virex и другими препаратами для эрекции?
                </h6>
                <span class="myths__button-show">+</span>
                <p class="myths__answer">
                    Эффект многих препаратов рассчитан на активизацию притока крови к половому члену.
                    Капсулы Virex воздействуют на организм комплексно. Они активизируют выработку тестостерона,
                    обладают успокаивающими свойствами, нормализуют гормональный фон, повышают либидо,
                    улучшают эректильную функцию и приводят в норму психоэмоциональное состояние.
                </p>
            </div>
        </div>
    </div>
</section>