.myths {
  padding: 128px 0 113px;
  background-color: #f0f4f7;
  &__title {
    max-width: 830px;
    margin: 0 auto;
  }
  &__items {
    width: 100%;
    max-width: 1170px;
    margin: 60px auto 0;
  }
  &__item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 36px;
    background-color: #ffffff;
    &.-open-answer {
      max-height: unset;
      transition: 1s;
      .myths__answer {
        padding-top: 20px;
      }
    }
  }
  &__button-show {
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 28px;
      height: 4px;
      background-image: linear-gradient(180.0deg, #393962 0%, #175088 100%);
      top: 12px;
      left: 1px;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 28px;
      height: 4px;
      background-image: linear-gradient(180.0deg, #393962 0%, #175088 100%);
      transform: rotate(90deg);
      top: 12px;
      left: 1px;
      transition: 0.4s;
    }
    &:hover {
      &:before, &:after {
        background: #fa861b;
        transition: 0.6s;
        outline: none;
      }
    }
    &.-minus {
      &:after {
        transform: rotate(180deg);
        transition: 0.4s;
        outline: none;
      }
    }
  }
  &__item-question {
    width: 90%;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #222222;
    text-align: left;
  }
  &__answer {
    width: 100%;
    padding-top: 38px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #666666;
    text-align: left;
  }
}

@media all and (max-width: 1219px) {
  .myths {
    padding: 60px 0;
    &__items {
      margin-top: 40px;
    }
  }
}

@media all and (max-width: 1023px) {
  .myths {
    padding: 60px 0;
    &__items {
      margin: 30px auto 0;
    }
    &__item-box {
      &:not(:first-child) {
        padding: 23px 36px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .myths {
    &__title {
      font-size: 33px;
    }
    &__item-box {
      max-height: 70px;
      &:first-child {
        padding: 21px 36px;
      }
      &:not(:first-child) {
        padding: 10px 36px;
      }
    }
    &__item-question {
      width: 87%;
      font-size: 18px;
    }
    &__answer {
      padding-top: 25px;
      font-size: 17px;
    }
  }
}
@media all and (max-width: 639px) {
  .myths {
    &__item-box {
      &:first-child {
        padding: 10px 36px;
      }
    }
    &__item-question {
      width: 100%;
      max-width: 338px;
      font-size: 17px;
    }
  }
}
@media all and (max-width: 479px) {
  .myths {
    &__item-box {
      //max-height: 70px;
      &:nth-child(2n+1) {
        padding: 20px 10px 10px;
      }
      &:nth-child(2n+2) {
        padding: 10px;
      }
    }
    &__item-question {
      width: 100%;
      max-width: 240px;
      font-size: 16px;
      line-height: 1;
    }
    &__answer {
      font-size: 16px;
      line-height: 1;
      padding-top: 18px;
    }
  }
}