<section class="block inquirer">
    <div class="container">
        <div class="inquirer-box1">

        </div>
        <div class="inquirer-box2">
            <div class="inquirer-description">
                <h2 class="title inquirer-title">
                    Причин может быть много —<br> решение всего одно!
                </h2>
                <h4 class="inquirer-subtitle">
                    Пройди тест и&nbsp;улучши свою потенцию
                </h4>
            </div>
            <div class="inquirer-test">
                <div class="inquirer-test__wrap">
                    <div data-question="1" class="inquirer-item step1 current">
                        <h4 class="inquirer-test__title">Сколько Вам лет?</h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">До 30</button>
                            <button class="button inquirer-test__button _second">Больше 30</button>
                        </div>
                    </div>
                    <div data-question="2" class="inquirer-item step2">
                        <h4 class="inquirer-test__title">
                            Есть ли у тебя проблемы с получением или поддержанием эрекции, достаточной для секса?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="3" class="inquirer-item step3">
                        <h4 class="inquirer-test__title">
                            Была ли у тебя аллергия или другие побочные эффекты при приеме препаратов для повышения потенции?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="4" class="inquirer-item step4">
                        <h4 class="inquirer-test__title">
                            Принимаешь ли ты сейчас другие препараты для повышения потенции?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="5" class="inquirer-item step5">
                        <h4 class="inquirer-test__title">
                            Есть ли в твой жизни спорт или физическая активность?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="6" class="inquirer-item step6">
                        <h4 class="inquirer-test__title">
                            Есть ли в твоей жизни вредные привычки или нарушение образа жизни?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="7" class="inquirer-item step7">
                        <h4 class="inquirer-test__title">
                            Как быстро ты достигаешь сильной эрекции?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Достаточно быстро</button>
                            <button class="button inquirer-test__button _second">Дольше 10 минут</button>
                        </div>
                    </div>
                    <div data-question="8" class="inquirer-item step8">
                        <h4 class="inquirer-test__title">
                            Как часто у тебя наблюдаются проблемы с потенцией?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Периодически</button>
                            <button class="button inquirer-test__button _second">При каждом
                                половом акте </button>
                        </div>
                    </div>
                </div>
                <div class="inquirer-progress">
                    <span class="inquirer-progress__inner"></span>
                </div>
            </div>
        </div>
    </div>
</section>