<section class="block inquirer">
    <div class="container">
        <div class="inquirer-box1">
            <div class="order-wrap">
                <div class="order-description">
                    <h2 class="title order-title">
                        Поздравляем!
                    </h2>
                    <h4 class="order-subtitle">
                        Тебе удалось сохранить неплохой уровень потенции, однако она&nbsp;может быть лучше.<br>
                        В&nbsp;этом тебе помогут растительные капсулы для&nbsp;улучшения<br>
                        потенции Virex.
                    </h4>
                </div>
                <div class="order-logo">
                    <img src="img/logo_big.png" alt="logo">
                </div>
                <div class="order-content">
                    <div class="product-box order-product">
                        <img src="img/product.png" alt="product">
                        <img class="pills" src="img/pills.png" alt="pills">
                        <div class="discount order-discount">
                        <span class="discount-box">
                            <span class="text-1">-50</span>
                            <span class="text-2">%</span>
                        </span>
                        </div>
                    </div>
                    <div class="order-content__box">
                        <div class="order-info">
                            <div class="timer order-timer">
                                <span class="timer-title">До конца акции:</span>
                                <div class="timer-wrap">
                                    <div class="timer-item">
                                        <span class="hours"></span>
                                        <span class="timer-item__text">Часов</span>
                                    </div>
                                    <div class="timer-item">
                                        <span class="minutes"></span>
                                        <span class="timer-item__text">Минут</span>
                                    </div>
                                    <div class="timer-item">
                                        <span class="seconds"></span>
                                        <span class="timer-item__text">Секунд</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price">
                                <div class="price-item price-item_old">
                                    <h5 class="price-title price-title_old">Старая цена</h5>
                                    <div class="price-content price-content_old">
                                        <span class="x_price_previous">999</span>
                                        <span class="x_currency">руб</span>
                                    </div>
                                </div>
                                <div class="price-item price-item_new">
                                    <h5 class="price-title price-title_new">Новая цена</h5>
                                    <div class="price-content price-content_new">
                                        <span class="x_price_current">400</span>
                                        <span class="x_currency">руб</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="/submit" method="post" class="x_order_form form order-form">
                            <div class="input-box input-box_name">
                                <input class="form-field form-field_name" type="text" name="name" required placeholder="Моё имя">
                            </div>
                            <div class="input-box input-box_tel">
                                <input class="form-field form-field_tel" type="tel" name="phone" required placeholder="Мой телефон">
                            </div>
                            <button class="button form-button">Заказать Virex</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="inquirer-box2">
            <div class="inquirer-description">
                <h2 class="title inquirer-title">
                    Причин может быть много —<br> решение всего одно!
                </h2>
                <h4 class="inquirer-subtitle">
                    Пройди тест и&nbsp;улучши свою потенцию
                </h4>
            </div>
            <div class="inquirer-test">
                <div class="inquirer-test__wrap">
                    <div data-question="1" class="inquirer-item step1 current">
                        <h4 class="inquirer-test__title">Сколько Вам лет?</h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">До 30</button>
                            <button class="button inquirer-test__button _second">Больше 30</button>
                        </div>
                    </div>
                    <div data-question="2" class="inquirer-item step2">
                        <h4 class="inquirer-test__title">
                            Есть ли у&nbsp;тебя проблемы с&nbsp;получением или поддержанием эрекции, достаточной для&nbsp;секса?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="3" class="inquirer-item step3">
                        <h4 class="inquirer-test__title">
                            Была ли у&nbsp;тебя аллергия или&nbsp;другие побочные эффекты при&nbsp;приеме препаратов для повышения потенции?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="4" class="inquirer-item step4">
                        <h4 class="inquirer-test__title">
                            Принимаешь ли ты&nbsp;сейчас другие препараты для&nbsp;повышения потенции?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="5" class="inquirer-item step5">
                        <h4 class="inquirer-test__title">
                            Есть ли в&nbsp;твой жизни спорт или&nbsp;физическая активность?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="6" class="inquirer-item step6">
                        <h4 class="inquirer-test__title">
                            Есть ли в&nbsp;твоей жизни вредные привычки или&nbsp;нарушение образа жизни?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Да</button>
                            <button class="button inquirer-test__button _second">Нет</button>
                        </div>
                    </div>
                    <div data-question="7" class="inquirer-item step7">
                        <h4 class="inquirer-test__title">
                            Как быстро ты&nbsp;достигаешь сильной эрекции?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Достаточно быстро</button>
                            <button class="button inquirer-test__button _second">Дольше 10 минут</button>
                        </div>
                    </div>
                    <div data-question="8" class="inquirer-item step8">
                        <h4 class="inquirer-test__title">
                            Как часто у&nbsp;тебя наблюдаются проблемы с&nbsp;потенцией?
                        </h4>
                        <div class="inquirer-test__nav">
                            <button class="button inquirer-test__button _first">Периодически</button>
                            <button class="button inquirer-test__button _second">При каждом
                                половом акте </button>
                        </div>
                    </div>
                </div>
                <div class="inquirer-progress">
                    <div class="inquirer-progress__content">
                        <span class="inquirer-progress__inner"></span>
                    </div>
                    <span class="inquirer-progress__counter">
                        <span class="inquirer-progress__current js--progress__current"></span>
                        <span>из</span>
                        <span class="inquirer-progress__all js--progress__all"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>