.result {
  position: relative;
  padding: 130px 0 130px;
  background-color: #f0f4f7;
  &__title {
    max-width: 800px;
    margin: 0 auto 26px;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    color: #222222;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 60px;
    padding-right: 3px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: #444444;
    text-align: center;
  }
  &__product {
    width: 850px;
    bottom: 241px;
    left: 50%;
    transform: translateX(-57%);
    position: absolute;
    z-index: 2;
  }
  &__form-box {
    margin: 0 auto;
    max-width: 970px;
  }

}

.home {
  &-result-statistic {
    min-height: 372px;
    margin-bottom: 233px;
    bottom: unset;
    z-index: 1;
    &__item:not(:first-child):after {
      top: 135px;
    }
  }
}

@media all and (-ms-high-contrast: none) {
  .result {
    &__product {
      bottom: 224px;
    }
  }
  .home-result-statistic {
    margin-bottom: 190px;
    bottom: 0;
  }
}
@media all and (max-width: 1219px) {
  .result {
    padding: 60px 0;
    &__subtitle {
      margin-bottom: 30px;
    }
    &__product {
      max-width: 630px;
      bottom: 150px;
    }
  }
  .home {
    &-result-statistic {
      margin-bottom: 114px;
      padding: 0 20px;
      &__item {
        &:after {
          margin-right: 20px;
        }
      }
    }
  }
}
@media all and (max-width: 1023px) {
  .result {
    &__title {
      font-size: 52px;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 21px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
    &__product {
      width: 486px;
      bottom: 117px;
    }
    &__form-box {
      margin: 0 auto;
      max-width: 390px;
    }
    &__form-box {
      max-width: 100%;
    }
    .order-content__box {
      max-width: 100%;
      margin: 0;
    }
    .form {
      display: flex;
      flex-direction: row;
    }
    .order-form .input-box {
      max-width: 250px;
      margin: 0 10px 0 0;
    }
  }
  .home {
    &-result-statistic {
      min-height: 290px;
      margin-bottom: 114px;
      padding: 0 20px;
      &__item {
        p {
          font-size: 17px;
        }
        &:after {
          margin-right: 20px;
        }
      }
    }
  }
}
@media all and (max-width: 767px) {
  .result {
    &__title {
      font-size: 46px;
    }
    &__product {
      bottom: 107px;
    }
    .order-form .input-box {
      max-width: 200px;
    }
    .form-button {
      font-size: 20px;
    }
  }
  .home {

    &-result-statistic {
      min-height: 284px;
      margin-bottom: 90px;
      &__item {
        padding: 30px 0;
      }
      &__item:not(:last-child) {
        margin-right: 25px;
      }
      &__item:not(:first-child):after {
        top: 100px;
        left: -14px;
      }
    }
  }
}
@media all and (max-width: 639px) {
  .result {
    &__product {
      max-width: 480px;
      margin-bottom: 20px;
      position: relative;
      bottom: unset;
    }
    .form {
      flex-direction: column;
    }
    &__form-box {
      max-width: 300px;
    }
    .form-button {
      font-size: 26px;
    }
    .order-form .input-box {
      margin: 0 0 20px 0;
      max-width: 100%;
    }
  }
  .home {
    &-result-statistic {
      min-height: 1px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      &__item {
        width: 100%;
        margin-bottom: 0 !important;
        padding: 14px 0 0;
        p {
          padding-left: 0;
        }
        &:before {
          top: 65%;
          left: -20px;
        }
      }
    }
  }
}
@media all and (max-width: 479px) {
  .result {
    &__product {
      max-width: 300px;
    }
  }
  .home {
    &-result-statistic {
      max-width: 300px;
      &__item {
        span {
          margin-bottom: 5px;
        }
        p {
          padding-left: 0;
        }
        /*&:before {
          left: 50%;
          transform: translateX(-50%);
        }*/
        &:before {
          top: 18px;
          left: -20px;
        }
      }
    }
  }
}