<header class="header">
    <div class="container">
        <div class="header-wrap">
            <div class="header-logo">
                <img src="img/logo.png" alt="logo">
            </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a href="#consist" class="nav-list__link">Состав</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#reviews" class="nav-list__link">Отзывы</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#facts" class="nav-list__link">Факты</a>
                    </li>
                </ul>
            </nav>
            <button class="button header-button">Заказать</button>
            <button class="menu-toggle header__menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>

<section class="home">
    <div class="container">
        <div class="home-content">
            <h1 class="home-title">
                Надежная
                эрекция в&nbsp;любой
                ситуации
            </h1>
            <h4 class="home-subtitle">
                Максимум ощущений и&nbsp;полное удовлетворение
                в&nbsp;постели. С&nbsp;каждым разом будет только лучше!
            </h4>
        </div>
        <button class="button home-button">Заказать Virex</button>
        <div class="home-statistic">
            <div class="home-statistic__item">
                <span class="home-statistic__profit">
                    <span class="number">5</span><span>%</span>
                </span>
                <p class="home-statistic__text">
                    только у 5% мужчин<br>
                    никогда не&nbsp;было проблем
                    с&nbsp;потенцией
                </p>
            </div>
            <div class="home-statistic__item">
                <span class="home-statistic__profit">
                    <span class="number">33</span><span>%</span>
                </span>
                <p class="home-statistic__text">
                    каждый 3&nbsp;мужчина
                    не&nbsp;способен к&nbsp;нормальному
                    половому акту
                </p>
            </div>
            <div class="home-statistic__item">
                <span class="home-statistic__profit">
                    <span class="number">60</span><span>%</span>
                </span>
                <p class="home-statistic__text">
                    мужчин в&nbsp;возрасте <span class="text-nowrap">25-50 лет</span>
                    сталкиваются  с&nbsp;эректильной
                    дисфункцией
                </p>
            </div>
        </div>
        <div class="home-people">
            <img src="img/home-people.png" alt="people">
        </div>
    </div>
</section>


<div class="menu-mobile">
    <button class="menu-toggle menu-mobile__close">
        <span></span>
        <span></span>
    </button>
    <ul class="menu-mobile__list">
        <li class="menu-mobile__item">
            <a href="#consist" class="menu-mobile__link">Состав</a>
        </li>
        <li class="menu-mobile__item">
            <a href="#reviews" class="menu-mobile__link">Отзывы</a>
        </li>
        <li class="menu-mobile__item">
            <a href="#facts" class="menu-mobile__link">Факты</a>
        </li>
    </ul>
</div>