<section class="block reviews" id="reviews">
    <div class="container">
        <h2 class="title reviews-title">
            Отзывы мужчин, которые<br>
            уже испытали на себе эффект Virex
        </h2>
        <div class="reviews-wrap">
            <div class="reviews-inner">
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews1.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Максим, 32&nbsp;года,</span>
                                <span class="reviews-info__city">г. Москва</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Больше не&nbsp;боюсь облажаться в&nbsp;постеле
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Капсулы работают просто отлично,
                        в&nbsp;чем я&nbsp;убеждал себя и&nbsp;свою девушку уже четырежды за&nbsp;эту неделю.
                        Никаких побочных эффектов я&nbsp;не заметил. Эрекция сильная, длиться долго.
                        Хватает, чтобы обоим получить удовольствие, а&nbsp;не как обычно – мне&nbsp;одному.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews2.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Дмитрий, 38&nbsp;лет,</span>
                                <span class="reviews-info__city">г. Воронеж</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Стоит, даже если за&nbsp;весь день задолбался
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Virex отмечу за то, что если я&nbsp;за весь устану и&nbsp;выматываюсь на работе,
                        когда дело до секса доходит, я быстро возбуждаюсь и&nbsp;получаю крутую эрекцию.
                        Раньше такого со&nbsp;мной не было, разве что лет в&nbsp;19.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews3.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Валерий, 41&nbsp;год,</span>
                                <span class="reviews-info__city">г. Минск</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Эффекта привыкания организма нет
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Мне 41&nbsp;год и&nbsp;с&nbsp;эрекцией проблемы частые были. Я&nbsp;покупал таблетки, сами знаете какие.
                        Но с&nbsp;ними беда в&nbsp;том, что организм привыкает и&nbsp;нужна большая доза со&nbsp;временем.
                        А&nbsp;побочки никто не&nbsp;отменял. С&nbsp;капсулами Virex вообще не&nbsp;так.
                        Они одинаково хорошо поднимают бойца даже через пару месяцев.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews4.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Андрей, 34&nbsp;года,</span>
                                <span class="reviews-info__city">г. Курск</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Очень быстро возбуждаюсь теперь
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Эффектов и&nbsp;полезностей много. Выделю то, что возбуждаюсь теперь быстрее в&nbsp;разы.
                        Раньше, минут десять приходилось на&nbsp;прелюдии убить, пока у&nbsp;меня встанет нормально.
                        А&nbsp;теперь за&nbsp;пять минут где-то член встает по стойке смирно.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews5.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Юрий, 44&nbsp;года,</span>
                                <span class="reviews-info__city">г. Саратов</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Жена оценила препарат и&nbsp;больше не&nbsp;пилит
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Начались проблемы спустя 7&nbsp;лет совместной жизни. Не&nbsp;мог возбудиться нормально.
                        И&nbsp;вроде жена у&nbsp;меня красавица, на&nbsp;работе нормально все, но что-то не получалось.
                        В&nbsp;статье сексолога одного я&nbsp;про вирекс и&nbsp;узнал.
                        Попробовал и&nbsp;сексуальная жизнь наладилась. Эрекция, как до свадьбы, крепкая, хоть гирю вешай.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews6.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Алексей, 30&nbsp;лет,</span>
                                <span class="reviews-info__city">г. Витебск</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Действует безотказно каждый раз
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Эрекция – это чуть не главная мужская фишка. Если у&nbsp;тебя не&nbsp;стоит,
                        то будь ты хоть двести раз красавчиком, девушкам ты&nbsp;будешь по&nbsp;барабану.
                        У&nbsp;меня так было <span class="text-nowrap">из-за</span> проблем на работе, член отказывался стоять.
                        Свидание нормально идет, а до&nbsp;секса не&nbsp;доходит. Другие препараты я&nbsp;боялся пить.
                        Они тупо людей гробят. А&nbsp;Virex принял за милую душу. Я&nbsp;теперь к&nbsp;сексу готов 24/7.
                        Эрекция мощная каждый раз.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews7.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Евгений, 45&nbsp;лет,</span>
                                <span class="reviews-info__city">г. Киров</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Подходит для&nbsp;гипертоников
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        У&nbsp;меня высокое давление и&nbsp;когда начались проблемы с&nbsp;потенцией,
                        я&nbsp;таблетки просто не&nbsp;мог пить, потому что они давление поднимают.
                        А&nbsp;virex совсем другого действия. На&nbsp;организм бережно влияет, давление не&nbsp;скачет.
                        Потенцию улучшает. Но&nbsp;только если каждый день принимать.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews8.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Данила, 48&nbsp;лет,</span>
                                <span class="reviews-info__city">г. Петропавловск</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Приятно удивлен своей эрекцией
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Сначала присматривался к&nbsp;другим средствам, в&nbsp;аптеке полно их.
                        Почитал список побочек и&nbsp;понял, что я&nbsp;и&nbsp;сексом заниматься хочу,
                        но и&nbsp;помереть от побочек не хочется. Так купил Virex.
                        Скажу так: у&nbsp;меня с&nbsp;тех пор не было ни одной осечки в&nbsp;постеле.
                        Ни&nbsp;одной. Мне, как человеку в&nbsp;возрасте это очень приятно.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews9.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Виктор, 36&nbsp;лет,</span>
                                <span class="reviews-info__city">г. Санкт-Петербург</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Супер капсулы для потенции
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Купил virex просто из&nbsp;любопытства, потому что было интересно,
                        как они на меня подействуют. А&nbsp;подействовали очень впечатляюще.
                        Я&nbsp;на эректильную дисфункцию не&nbsp;жаловался, но&nbsp;как стал пить вирекс,
                        эрекция стала крепче, возбуждаться я&nbsp;стал сильней и&nbsp;быстрее.
                        Очень впечатлен, да и&nbsp;жена тоже.
                    </p>
                </div>
                <div class="reviews-item reviews-content">
                    <div class="reviews-content__header">
                        <div class="reviews-info">
                            <div class="reviews-info__img">
                                <img src="img/reviews10.jpg" alt="people1">
                            </div>
                            <div class="reviews-info__content">
                                <span class="reviews-info__name">Кирилл, 40&nbsp;лет,</span>
                                <span class="reviews-info__city">г. Самара</span>
                            </div>
                        </div>
                        <h5 class="reviews-content__title">
                            Капсулы для секса и&nbsp;крепких отношений
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Жена моложе меня на&nbsp;7&nbsp;лет, а&nbsp;в&nbsp;этом не только плюсы есть, но и&nbsp;минусы.
                        Много стресса, эрекция неудовлетворительная, а&nbsp;повода ей&nbsp;заглядываться
                        на&nbsp;сверстников я&nbsp;давать не&nbsp;хотел. Но&nbsp;переживал я&nbsp;зря,
                        потому что она купила мне Virex. Секс стал отменный.
                        Я&nbsp;улетал, она улетала. Все довольны и&nbsp;отношения стали еще крепче.
                        Хорошая потенция – это наше все.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>