<section class="block reviews" id="reviews">
    <div class="container">
        <h2 class="title reviews-title">
            Отзывы мужчин, которые
            уже испытали на себе эффект Virex
        </h2>
        <div class="reviews-wrap">
            <div class="reviews-item">
                <div class="reviews-info">
                    <div class="reviews-info__img">
                        <img src="img/reviews1.jpg" alt="people1">
                    </div>
                    <div class="reviews-info__content">
                        <span class="reviews-info__name">Максим, 32 года,</span>
                        <span class="reviews-info__city">г. Москва</span>
                    </div>
                </div>
                <div class="reviews-content">
                    <div class="reviews-content__header">
                        <h5 class="reviews-content__title">
                            Больше не боюсь облажаться в постеле
                        </h5>
                        <button class="button reviews-content__button"></button>
                        <span class="reviews-content__counter"></span>
                    </div>
                    <p class="reviews-content__text">
                        Капсулы работают просто отлично,
                        в чем я убеждал себя и свою девушку уже четырежды за эту неделю.
                        Никаких побочных эффектов я не заметил. Эрекция сильная, длиться долго.
                        Хватает, чтобы обоим получить удовольствие, а не как обычно – мне одному.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>