$accentColor: #fa861b;

html {
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}

img {
	display: block;
	max-width: 100%;
}

svg {
	overflow: hidden;
}

.container {
	width: 1220px;
	margin: 0 auto;
	padding: 0 25px;
	@include r(1219) {
		width: 1024px;
	}
	@include r(1023) {
		width: 768px;
		padding: 0 10px;
	}
	@include r(767) {
		width: 640px;
	}
	@include r(639) {
		width: 480px;
	}
	@include r(479) {
		width: 100%;
	}
}

.title {
	text-align: center;
	font-size: 60px;
	line-height: 1;
	color: #222222;
	font-weight: 700;
	@include r(1219){
		font-size: 42px;
	}
	@include r(1023){	
		font-size: 36px;
		line-height: 1.1;
	}
	@include r(767){	
		font-size: 32px;
	}
	@include r(639){	
		font-size: 29px;
	}
	@include r(479){	
		font-size: 26px;
	}
}


.text-bold {
	font-weight: 700;
}

.text-black {
	font-weight: 900;
}

.text-nowrap {
	white-space: nowrap;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif;
	width: 100%;
	position: relative;
	border-radius: 35px;
	background-color: $accentColor;
	color: #fefefe;
	font-size: 26px;
	line-height: 1;
	font-weight: 900;
	padding: 15px 20px;
	cursor: pointer;
	outline: none;
	border: none;
	transition: .3s;
	&:hover {
		background-color: #c05d01;
	}
}

.input-box {
	position: relative;
	width: 100%;
	flex: none;
}

.form-field {
	font-family: "Roboto", sans-serif;
	width: 100%;
	max-width: 100%;
	border-radius: 35px;
	background-color: #ffffff;
	border: none;
	outline: none;
	font-size: 17px;
	padding: 25px 30px;
	color: #444444;
	transition: .5s;
	&:hover,
	&:focus{
		box-shadow: inset 0 0 12px 4px rgba(34, 35, 39, 0.5);
	}
}

input::-webkit-input-placeholder {color: #444444; font-size: 17px;}
input::-moz-placeholder          {color: #444444; font-size: 17px;}
input:-moz-placeholder           {color: #444444; font-size: 17px;}
input:-ms-input-placeholder      {color: #444444; font-size: 17px;}



.discount {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: none;
	width: 100px;
	height: 100px;
	background-color: #ef4621;
	border-radius: 50%;
	border: 5px solid #ffffff;
	&-box {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	.text-1,
	.text-2{
		display: inline-block;
		color: #ffffff;
	}
	.text-1 {
		font-size: 35px;
		line-height: .9;
		font-weight: 700;
	}
	.text-2 {
		font-size: 17px;
		line-height: 1;
		font-weight: 500;
	}
}


.product-box {
	position: relative;
	width: 100%;
	max-width: 310px;
	.pills {
		position: absolute;
		width: 100%;
		max-width: 131px;
		bottom: 4px;
		left: -44px;
	}
	.discount {
		position: absolute;
		top: -37px;
		right: -41px;
		transform: rotate(-30deg);
	}
}


.ever-popup.show {
	display: none !important;
}


@include r(1023) {
	.form-field {
		padding: 20px 35px;
	}
}