<section class="effective block">
    <div class="container">
        <!--top-->
        <div class="effective__top-title-box">
            <h2 class="effective__title title">
                В чем же причина
                эффективности
                капсул Virex?
            </h2>
            <p class="effective__title-description">Средства для потенции влияют только
                на&nbsp;кровеносную систему. Virex же влияет
                <span>на&nbsp;кровеносную, половую и нервную систему человека.</span>
                Именно от их состояния зависят качественные сексуальные возможности мужчины,
                то есть стабильная эрекция.
            </p>
        </div>
        <!--main-->
        <div class="effective__components-box">

            <div class="effective__main-component">
                
                <div class="effective__tablet-box">
                    <img src="./img/effective_main_tablet.png" alt="">
                </div>
                
            </div>
            <!--1-->
            <div class="effective__component -first-row">
                <div class="effective__component-wrapper -yacor">
                    <div class="effective__component-image">
                        <img src="./img/effective_item1.png" alt="">
                    </div>
                    <p class="effective__component-name">
                        Якорцы
                        стелющиеся
                    </p>
                </div>
            </div>
            <!--2-->
            <div class="effective__component -first-row">
                <div class="effective__component-wrapper -right-side -nut">
                    <p class="effective__component-name">
                        Мускатный
                        орех
                    </p>
                    <div class="effective__component-image">
                        <img src="./img/effective_item2.png" alt="">
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="effective__component">
                <div class="effective__component-wrapper -acid">
                    <div class="effective__component-image">
                        <img src="./img/effective_item3.png" alt="">
                    </div>
                    <p class="effective__component-name">
                        Аспарагиновая
                        кислота
                    </p>
                </div>
            </div>
            <!--4-->
            <div class="effective__component">
                <div class="effective__component-wrapper -right-side -arginin">
                    <p class="effective__component-name">
                        L-аргинин
                    </p>
                    <div class="effective__component-image">
                        <img src="./img/effective_item4.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>