<section class="block order" id="order">
    <div class="container">
        <div class="order-wrap">
            <div class="order-description">
                <h2 class="title order-title">
                    Надежная эрекция в любой ситуации!
                </h2>
                <h4 class="order-subtitle">
                    Максимум ощущений и полное удовлетворение в постели.
                    С каждым разом будет только лучше!
                </h4>
            </div>
            <div class="order-logo">
                <img src="img/logo_big.png" alt="logo">
            </div>
            <div class="order-content">
                <div class="product-box order-product">
                    <img src="img/product.png" alt="product">
                    <img class="pills" src="img/pills.png" alt="pills">
                    <div class="discount">
                        <span class="discount-box">
                            <span class="text-1">-50</span>
                            <span class="text-2">%</span>
                        </span>
                    </div>
                </div>
                <div class="order-info">
                    <div class="timer">
                        <span class="timer-title">До конца акции:</span>
                        <div class="timer-wrap">
                            <div class="timer-item">
                                <span class="hours"></span>
                                <span class="timer-item__text">Часов</span>
                            </div>
                            <div class="timer-item">
                                <span class="minutes"></span>
                                <span class="timer-item__text">Минут</span>
                            </div>
                            <div class="timer-item">
                                <span class="seconds"></span>
                                <span class="timer-item__text">Секунд</span>
                            </div>
                        </div>
                    </div>
                    <div class="price">

                    </div>
                </div>
                <form action="/submit" method="post" class="x_order_form form order-form">
                    <div class="input-box input-box_name">
                        <input class="form-field form-field_name" type="text" name="name" required placeholder="Моё имя">
                    </div>
                    <div class="input-box input-box_tel">
                        <input class="form-field form-field_tel" type="tel" name="phone" required placeholder="Мой телефон">
                    </div>
                    <button class="button form-button">Заказать Virex</button>
                </form>
            </div>
        </div>
    </div>
</section>