<section class="block order">
    <div class="container">
        <div class="order-wrap">
            <div class="order-description">
                <h2 class="title order-title">
                    Надежная эрекция в&nbsp;любой ситуации!
                </h2>
                <h4 class="order-subtitle">
                    Максимум ощущений и&nbsp;полное удовлетворение в&nbsp;постели.<br>
                    С&nbsp;каждым разом будет только лучше!
                </h4>
            </div>
            <div class="order-logo">
                <img src="img/logo_big.png" alt="logo">
            </div>
            <div class="order-content">
                <div class="product-box order-product">
                    <img src="img/product.png" alt="product">
                    <img class="pills" src="img/pills.png" alt="pills">
                    <div class="discount order-discount">
                        <span class="discount-box">
                            <span class="text-1">-50</span>
                            <span class="text-2">%</span>
                        </span>
                    </div>
                </div>
                <div class="order-content__box" id="order">
                    <div class="order-info">
                        <div class="timer order-timer">
                            <span class="timer-title">До конца акции:</span>
                            <div class="timer-wrap">
                                <div class="timer-item">
                                    <span class="hours"></span>
                                    <span class="timer-item__text">Часов</span>
                                </div>
                                <div class="timer-item">
                                    <span class="minutes"></span>
                                    <span class="timer-item__text">Минут</span>
                                </div>
                                <div class="timer-item">
                                    <span class="seconds"></span>
                                    <span class="timer-item__text">Секунд</span>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="price-item price-item_old">
                                <h5 class="price-title price-title_old">Старая цена</h5>
                                <div class="price-content price-content_old">
                                    <span class="x_price_previous">999</span>
                                    <span class="x_currency">руб</span>
                                </div>
                            </div>
                            <div class="price-item price-item_new">
                                <h5 class="price-title price-title_new">Новая цена</h5>
                                <div class="price-content price-content_new">
                                    <span class="x_price_current">400</span>
                                    <span class="x_currency">руб</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="/submit" method="post" class="x_order_form form order-form">
                        <div class="input-box input-box_name">
                            <input class="form-field form-field_name" type="text" name="name" required placeholder="Моё имя">
                        </div>
                        <div class="input-box input-box_tel">
                            <input class="form-field form-field_tel" type="tel" name="phone" required placeholder="Мой телефон">
                        </div>
                        <button class="button form-button">Заказать Virex</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>